version: "3.3"

services:
  atsGo:
    image: atsgo:1.4.7
    build: .
    networks:
      - atsGo
    ports:
      - 80:80
    # volumes:
    #   - atsgovol:/root/
      
networks:
  atsGo:

  # NEED A VOULUM TO CERT.PEM
  # NEED A VOLUME TO PRIVKEY.PEM

# volumes:
#   atsgovol:
#     driver: local
#     driver_opts:
#       type: none
#       # device: /home/pipi/Data/db
#       device: /etc/letsencrypt/live/atsdo.xyz/
#       o: bind 