version: "3.3"

services:
  atsGo:
    image: atsgo:1.4.2.12
    build: .
    environment:
      - ATSGO_SERVER_ADDR=http://alphatree.services
      - ATSGO_SERVER_LOG_PATH=/root/logs/ampgostrip.txt
      - ATSGO_JSON_PATH=/root/assets/backup.json
      - ATSGO_GZIP_PATH=/root/assets/backup.gz
    networks:
      - atsGo
    ports:
      - 80:80
      
networks:
  atsGo: