version: "3.3"

services:
  db:
    image: mongo:4.4
    container_name: "atsGo_container"
    networks:
      - atsGo
    ports:
      - 27017:27017

  atsGo:
    image: atsgo:1.4.2.7
    build: .
    environment:
      - ATSGO_SERVER_ADDR=http://alphatree.services
      - ATSGO_SERVER_LOG_PATH=/root/logs/ampgostrip.txt
      - ATSGO_JSON_PATH=/root/assets/backup.json
      - ATSGO_GZIP_PATH=/root/assets/backup.gz
    networks:
      - atsGo
    ports:
      - 80:80
    depends_on:
      - db
      
networks:
  atsGo: