body {
    background-color: chocolate;

}

h1 {
    font-size: 2.7em;
}

h5 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

button {
    font-size: 1.3em;
}

input {
    font-size: 1.3em;
}

form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }